Source: editmoin
Section: text
Priority: optional
Build-Depends: cdbs (>= 0.4.43), debhelper (>= 5.0.38), python-dev, python-central (>= 0.5.6)
Build-Depends-Indep: python (>= 2.3.5-7)
Maintainer: Martin Pitt <mpitt@debian.org>
Homepage: http://labix.org/editmoin
Standards-Version: 3.7.3
XS-Python-Version: current

Package: editmoin
Architecture: all
Depends: ${python:Depends}
XB-Python-Version: ${python:Versions}
Description: edit MoinMoin wiki pages with your favourite editor
 editmoin allows you to edit pages in MoinMoin wikis with your
 preferred editor instead of the (usually quite limitated) web
 browsers' text areas.
 .
 It also supports configuration files to define shortcuts for URLs
 that you edit often.
 .
 This package also includes a Vim syntax file. However, you can use
 any other editor by setting the standard $EDITOR environment
 variable.
